body {
  margin: 20px 40px;
  line-height: 1.6em;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 20px;
}

p {
  margin: 4px 0 0 20px;
}

p , ul {
  font-size: 16px;
}

ul {
  margin: 4px 0;
}

li {
  margin: 4px 0 0 3.4em;
}

.non-indent > li {
  margin-left: 40px;
}

p.non-indent {
  margin-left: 0px;
  margin-top: 1em;
}
